{% extends 'users/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
    <h3>Checkout</h3>
    <div class="card" style="width: 18rem;">
        <h4>Select Shipping Address</h4>
        {% for address in user.profile.address %}
    </div>
<div class="card" style="width: 18rem;">
    <h4>Order Summary</h4>
    <ul class="list-group list-group-flush">
        <h5>Items:</h5>
        {% for item in cart_items %}
            <li onclick=location.href="{% url 'store:item_detail' item.id %} class="list-group-item">
        Name: {{item.storeItem.name}}
        Manufacturer: {{item.storeItem.manufacturer}}
        Price: ${{item.storeItem.price}}
        Quantity: {{item.quantity}}
        <a href="{% url 'store:remove_item' item.id %}" class="btn btn-danger">Remove</a>
            </li>
        {% endfor %}
        <h5>Order Details:</h5>
        <p>Subtotal:{{ order.subtotal }}</p>
        <p>Tax:{{ order.taxAmount }}</p>
        <p>Shipping:{{ order.shipping }}</p>
        <p>Total:{{ order.total }}</p>
        <a href="{% url 'store:confirmOrder'%}" class="btn btn-primary">Place Order</a>
    </ul>
</div>

{% endblock %}
</body>
</html>