{% extends 'users/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<div class="col d-flex justify-content-center">
        <div class="card full-card" style="width: 18rem;">
            <img src="{{ item.image }}" class="card-img-top full" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <h6 class="card-title">Price: ${{item.price}}</h6>
                <h6 class="card-title">Manufacturer {{item.manufacturer}}</h6>
                <p class="card-text">Description: {{ item.description }}</p>
                <a href="{% url 'store:add_to_cart' item.id %}" action class="btn btn-success">Add to Order</a>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>