{% extends 'users/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<div class="card" style="width: 18rem;">
    {% if  cart_items.count == 0 or order is None %}
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <p>Oops! Looks lke your cart is empty.</p>
                <p>Why don't you take a look at our store page and start shopping?</p>
                <a href="{% url 'store:browse' %}" class="btn btn-success">Browse</a>
            </li>
      </ul>
    </div>
    {% else %}
    <ul class="list-group list-group-flush">
        {% for item in cart_items %}
            <li onclick=location.href="{% url 'store:item_detail' item.id %} class="list-group-item">
        Name: {{item.storeItem.name}}
        Manufacturer: {{item.storeItem.manufacturer}}
        Price: ${{item.storeItem.price}}
        Quantity: {{item.quantity}}
        <a href="{% url 'store:remove_item' item.id %}" class="btn btn-danger">Remove</a>
            </li>
        {% endfor %}

    </ul>
    <div class="card-footer">
    Order Subtotal: ${{order.subtotal}}
    </div>
    <a href="{% url 'store:clear_cart'%}" class="btn btn-danger">Clear Cart</a>
    <a href="{% url 'store:checkout'%}" class="btn btn-primary">Proceed to Checkout</a>
</div>
    {% endif %}
{% endblock %}
</body>
</html>