{% extends 'users/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}

<div class="container">
    <div class="row">
        {% for order in orders %}
        <div class="card-group col-md-4 mb-3">
              <div class="card" style="width: 18rem;">
                <h4>Order Number: {{order.id}}</h4>
                <ul class="list-group list-group-flush">
                    <h5>Order Details:</h5>
                    <li>Subtotal: $ {{ order.subtotal }}</li>
                    <li>Tax: $ {{ order.taxAmount }}</li>
                    <li>Shipping: $ {{ order.shipping }}</li>
                    <li>Total: $ {{ order.total }}</li>
                    <li>Shipping Address: {{ order.shippingAddress }}</li>
                    <li>Payment Method: {{ order.payMethod }}</li>
                    <li>Order Status: {{ order.status }}</li>
                    <li>Order placed {{ order.orderDateTime }}</li>
                </ul>
            </div>
        </div>

{% endfor %}
                </div>
    </div>
{% endblock %}

</body>
</html>