{% extends 'users/base.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% block body %}
<div class="container">
<div class="row">
    <div class="card-group col-md-10 mb-2">
    <div class="col d-flex justify-content-center contact">
    <div onclick=location.href="{% url 'users:address_page' %}" class="card profile-card">
        <h2>Your Addresses</h2>
        <h4>Edit, Remove, or Set default Address</h4>
    </div>
    <div onclick=location.href="{% url 'users:profile_page' %}" class="card profile-card">
        <h2>Your Profile</h2>
        <h4>Edit, Delete, or View Profile Information</h4>
    </div>
    <div onclick=location.href="{% url 'users:order_history' %}" class="card profile-card">
        <h2>Order History</h2>
        <h4>Review Past Orders</h4>
    </div>
</div>
    {% endblock %}
</body>
</html>
